.desc, .linklist {font-size: 0.89em;}
img.icon {padding: 2px; border: 1px solid #ccc;}
.slc {color: #668040; font-style: italic;}
.hierarchy {float: right; width: 15em;}

ul.icons {list-style-type: none; margin: 0; }
ul.icons li {clear: both; margin-left: 0; margin-top: 0;}
ul.icons .icon {margin: 3px;}

.left {float: left; width:50%;}
.right {float: right; width:50%;}

a:link, a:visited {text-decoration: none; }
a:hover {text-decoration: underline;}